# Datetimes and timedeltas

Source: https://dhi.github.io/getting-started-with-mikeio/datetime_timedelta.html#datetimes-and-timedeltas

本节主要内容
1. 三种常见的生成时间的方法
2. 三种常见的计算时间差的方法
3. 生成指定范围的时间段（等间距）
4. 以时间为index进行数据slice

Three most common ways to represent datetimes and timedelta, and how to convert between them.
1. datetime.datetime(python build_in)
2. pd.Timestamp
3. np.datetime64

In [1]:
# current working directory
pwd

'C:\\Users\\jiyu'

In [1]:
from datetime import datetime, timedelta
import numpy as np
import pandas as pd

## datetime.datetime

In [3]:
dt_dt = datetime(2018,1,1,19,3,1)
dt_dt

datetime.datetime(2018, 1, 1, 19, 3, 1)

## NumPy: np.datetime64

np.datetime64 is essentially an integer (np.int64) representing the time since epoch time 1970-01-01 00:00:00 in a specified unit.

In [4]:
dt_np = np.datetime64('2018-01-01 19:03:01')
dt_np

numpy.datetime64('2018-01-01T19:03:01')

In [5]:
np.int64(dt_np)

1514833381

In [6]:
np.datetime64('1970-01-01 00:00:00') + np.int64(dt_np)

numpy.datetime64('2018-01-01T19:03:01')

In [8]:
dt_np.dtype.name

'datetime64[s]'

In [11]:
dt_np.astype(datetime) # np.datetime64 --> datetime.datetime

datetime.datetime(2018, 1, 1, 19, 3, 1)

## Pandas: pd.Timestamp

pd.Timestamp uses np.datetime64[ns] under the hood. Pandas is good at recognizing various string representations of datetimes:

In [2]:
dt_pd = pd.Timestamp('2018/8/1') # equivalent to pd.to_datetime()
dt_pd

Timestamp('2018-08-01 00:00:00')

In [3]:
dt_pd.to_numpy() # pd.Timestamp --> np.datetime64

numpy.datetime64('2018-08-01T00:00:00.000000000')

In [4]:
a = dt_pd.to_numpy()
a

numpy.datetime64('2018-08-01T00:00:00.000000000')

In [5]:
pd.Timestamp(a)

Timestamp('2018-08-01 00:00:00')

In [14]:
dt_pd.to_pydatetime() #pd.Timestamp -> datetime.datetime

datetime.datetime(2018, 8, 1, 0, 0)

In [15]:
pd.Timestamp(dt_np) #np.datetime64 -> pd.Timestamp

Timestamp('2018-01-01 19:03:01')

## Timedeltas

to represent differences between 2 timestamps:
1. datetime.timedelta
2. pd.Timedelta
3. np.timedelta64

### datetime.timedelta
the Python build-in way of working with differences between 2 datetimes

In [16]:
del_dt = timedelta(days = 6)
del_dt

datetime.timedelta(days=6)

In [17]:
dt_dt + del_dt

datetime.datetime(2018, 1, 7, 19, 3, 1)

In [19]:
dt_dt2 = datetime(2018,2,3,11,3,1)
dt_dt2 - dt_dt

datetime.timedelta(days=32, seconds=57600)

### NumPy: np.timedelta64

In [20]:
dt_np2 = np.datetime64('2018-02-02 16:21:11')
del_np = dt_np2 - dt_np
del_np

numpy.timedelta64(2755090,'s')

In [21]:
dt_np + del_np

numpy.datetime64('2018-02-02T16:21:11')

In [22]:
np.int64(del_np)

2755090

In [23]:
np.dtype(del_np)

dtype('<m8[s]')

In [24]:
np.dtype(del_np).name

'timedelta64[s]'

In [25]:
del_np.astype(timedelta) # np.timedelta64 -> datetime.timedelta

datetime.timedelta(days=31, seconds=76690)

### Pandas: pd.Timedelta

In [26]:
dt_pd2 = pd.Timestamp('2018/8/4 23:01:03')
del_pd = dt_pd2 - dt_pd
del_pd

Timedelta('3 days 23:01:03')

In [27]:
dt_pd + del_pd

Timestamp('2018-08-04 23:01:03')

In [28]:
del_pd.total_seconds()

342063.0

In [29]:
print(pd.Timedelta(del_dt))
print(pd.Timedelta(del_np))

6 days 00:00:00
31 days 21:18:10

In [31]:
print(del_pd.to_pytimedelta()) # timedelta, not datetime
print(del_pd.to_timedelta64())

3 days, 23:01:03
342063000000000 nanoseconds

## Datetime ranges

In [32]:
# pd.date_range() method for creating a pd.DatetimeIndex
dti = pd.date_range('2018', periods = 8, freq = '5D')
dti

DatetimeIndex(['2018-01-01', '2018-01-06', '2018-01-11', '2018-01-16',
               '2018-01-21', '2018-01-26', '2018-01-31', '2018-02-05'],
              dtype='datetime64[ns]', freq='5D')

In [33]:
tdi = dti - dti[0]
tdi

TimedeltaIndex([ '0 days',  '5 days', '10 days', '15 days', '20 days',
                '25 days', '30 days', '35 days'],
               dtype='timedelta64[ns]', freq=None)

In [35]:
tdi.total_seconds().to_numpy()

array([      0.,  432000.,  864000., 1296000., 1728000., 2160000.,
       2592000., 3024000.])

### Slicing with DatetimeIndex

In [36]:
df = pd.DataFrame(np.ones(8), index = dti, columns = ['one'])
df

            one
2018-01-01  1.0
2018-01-06  1.0
2018-01-11  1.0
2018-01-16  1.0
2018-01-21  1.0
2018-01-26  1.0
2018-01-31  1.0
2018-02-05  1.0

In [37]:
df.loc['2018-01-05':'2018-01-21'] # notice that end of slice is included.

            one
2018-01-06  1.0
2018-01-11  1.0
2018-01-16  1.0
2018-01-21  1.0

In [38]:
df.loc['2018-01-26':]

            one
2018-01-26  1.0
2018-01-31  1.0
2018-02-05  1.0

In [39]:
df.loc['2018-01']

            one
2018-01-01  1.0
2018-01-06  1.0
2018-01-11  1.0
2018-01-16  1.0
2018-01-21  1.0
2018-01-26  1.0
2018-01-31  1.0